body{
    background-color: #3b3b3b;
}

.index-subtitle{
    color: #dcdcdc;
}

.navbar, .jumbotron{
    color: #242424;
    background-color: #dcdcdc;
    border: none;
}

.navbar-default, .navbar-default, .navbar-brand{
    color: #242424;
}

.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
    color: #242424;
    background-color: #dcdcdc;
    border: none;
}

.delete-form {
    display: inline;
}

.centered-jumbotron-heading {
    text-align: center;
}

.styled-form {
    margin: 10px auto;
    width: 90%;
}

.well, .list-group-item{
    color: #242424;
    background-color: #dcdcdc;
}

@media (min-width: 600px) {
    .styled-form {
        width: 50%;
    }
}

@media (min-width: 900px) {
    .styled-form {
        width: 40%;
    }
}

@media (min-width: 1200px) {
    .styled-form {
        width: 30%;
    }
}

/* Google Maps */

#map {
    height: 400px;
    width: 100%;
}
